<%= form_with(model: building) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :nombre, class:"input-group-text " %>
    <%= form.text_field :nombre, class:"form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :direccion, class:"input-group-text " %>
    <%= form.text_field :direccion, class:"form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :ciudad, class:"input-group-text " %>
    <%= form.text_field :ciudad, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit nil, class:"btn btn-primary mb-5" %>
  </div>
<% end %>
