<div class="container">
  
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 card my-3 text-center card-show" >
      <div class="card-body">
        <p id="notice"><%= notice %></p>
        <h5 class="card-title fw-bold">Edificio: <%= @building.nombre %></h5>
        <p class="card-text"><strong>Id Edificio:</strong> <%= @building.id %></p>
        <p class="card-text"><strong>Dirección:</strong> <%= @building.direccion %></p>
        <p class="card-text"><strong>Ciudad:</strong> <%= @building.ciudad %></p>
      </div>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-12 tabla-principal table-wrapper-scroll-y my-custom-scrollbar tabla-show my-3 ">
      <table class="table table-bordered">
        <thead class="sticky-top head-lista">
          <tr>
            <th class="text-center">Departamentos</th>
            <th class="text-center" colspan="3">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @building.apartment.each do |apt| %>
            <tr>
              <td class="text-center"><%= apt.numero %></td>
              <td class="col-1 text-center"><%= link_to apartment_path(apt.id), class: "btn btn-primary m-0", style: "font-size: 11px" do  %>Ver<% end %></td>
              <td class="col-1 text-center"><%= link_to edit_apartment_path(apt.id), class: "btn btn-warning m-0", style: "font-size: 11px; color: #fff" do %>Editar<% end %></td>
              <td class="col-1 text-center"><%= link_to apartment_path(apt.id), method: :delete, data: { confirm: 'Realmente quieres eliminar este departamento?' }, class: "btn btn-danger m-0", style: "font-size: 11px" do  %>Eliminar<% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  
  

  
  <div class="row justify-content-between my-5">
    <div class="col-4">
      <%= link_to "Editar", edit_building_path(@building), class: "btn btn-primary" %> 
      <%= link_to "Volver", buildings_path, class: "btn btn-primary" %>
    </div> 
    <div class="col-4">
      <%= link_to "Crear Edificio", new_building_path, class: "btn btn-primary ejemplo" %>
      <%= link_to "Crear Departamento", new_apartment_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>