<%= form_with(model: apartment) do |form| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
        <% apartment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :numero, class:"input-group-text " %>
    <%= form.text_field :numero, class:"form-control" %>
  </div>

  <% if apartment.building %>
    <div class="input-group mb-3">
      <%= form.label :building_id, "Id Edificio", class:"input-group-text " %>
      <%= form.text_field :building_id, id:"disabledTextInput", class:"form-control id-edificio-form", disabled: true %>
    </div>
  <% else %>
    <div type="hidden"></div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :building_id, "Edificio", class: 'input-group-text' %>
    <% if apartment.building %>
      <%= form.select(:building_id, options_from_collection_for_select(buildings, :id, :nombre, apartment.building_id), {  }, { class: "form-select" }) %>
    <% else %>
      <%= form.select(:building_id, options_from_collection_for_select(buildings, :id, :nombre), { include_blank: "Elige un edificio" }, { class: "form-select" }) %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit nil, class:"btn btn-primary mb-5" %>
  </div>
<% end %>
