<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @apartment.numero %>
</p>

<p>
  <strong>Building:</strong>
  <%= @apartment.building_id %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
